
.DS_Store
Original Data/TSLA.csv
Original Data/MSFT_Placeholder.csv
Original Data/INTC.csv
Original Data/GOOGL.csv
Original Data/GOOG.csv
Original Data/FB.csv
Original Data/QQQ.csv
Original Data/AMZN.csv
Original Data/AMD.csv
Original Data/AAPL.csv
