svg {
	background-color: beige;
}

rect.rect_highlight {fill: Blue; stroke: black; stroke-width: 2px;}
rect.rect_barchart {stroke: black; stroke-width:1px;}

path.pie {stroke: black; stroke-width:1px;}
path.pie_highlight {stroke: Gold; stroke-width: 3px;}

path.line {
	fill:none;
	stroke-width:2px;
}
path.line_highlight {
	fill:none;
	stroke-width:3px;
}
div.navigation {
	margin-left: 50px;
	width:600px;
	align-content: center;

}
circle.circle_normal {
	stroke: blue;
	r: 15;
}
circle.circle_highlight {
	stroke: Gold;
	r: 17;
}
#lineTooltip {
	opacity: 0;
	position: absolute;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
#revenueTooltip {
	opacity: 0;
	position: absolute;
	padding: 6px;
	font: 13px sans-serif;
	background: white;
	border: 2px;
	border-radius: 8px;
	pointer-events: none;
}
#pegTooltip {
	opacity: 0;
	position: absolute;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
#epsTooltip {
	opacity: 0;
	position: absolute;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
#epsComparisonTooltip {
	opacity: 0;
	position: absolute;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
button.nav_back {
    background-color: beige;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
}